body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#root {
  background: var(--Login_Color, linear-gradient(63deg, rgba(255, 250, 239, 0.90) 14.12%, rgba(255, 246, 174, 0.95) 53.34%, #FFFBF3 92.57%));
  width: 100%;
  height: 100%;
}
